<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>技术</key>
	<array>
		<string>运营</string>
		<string>编辑</string>
		<string>客服</string>
		<string>高端运营职位</string>
		<string>其他运营职位</string>
	</array>
	<key>医疗</key>
	<array>
		<string>护士</string>
		<string>医生</string>
	</array>
	<key>房地产</key>
	<array>
		<string>房地产规划开发</string>
		<string>设计装修与市政建设</string>
		<string>房地产经纪</string>
		<string>物业管理</string>
		<string>高端房地产职位</string>
		<string>其他房地产职位</string>
	</array>
	<key>汽车</key>
	<array>
		<string>汽车销售</string>
		<string>汽车设计与研发</string>
	</array>
	<key>供应链</key>
	<array>
		<string>物流</string>
		<string>仓储</string>
		<string>运输</string>
		<string>高端供应链职位</string>
		<string>其他供应链职位</string>
	</array>
	<key>产品</key>
	<array>
		<string>产品经理</string>
		<string>产品设计师</string>
		<string>高端产品职位</string>
		<string>其他产品职位</string>
	</array>
	<key>线下服务</key>
	<array>
		<string>市场／营销</string>
		<string>公关媒介</string>
		<string>会务发展</string>
		<string>广告</string>
		<string>高端市场职位</string>
		<string>其他市场职位</string>
	</array>
	<key>设计</key>
	<array>
		<string>其他技术职位</string>
		<string>后端开发</string>
		<string>移动开发</string>
		<string>测试</string>
		<string>运维</string>
		<string>DBA</string>
		<string>项目管理</string>
		<string>硬件开发</string>
		<string>前端开发</string>
		<string>通信</string>
		<string>高端技术职位</string>
	</array>
	<key>传媒</key>
	<array>
		<string>视觉设计</string>
		<string>交互设计</string>
		<string>用户研究</string>
		<string>高端设计职位</string>
		<string>其他设计职位</string>
	</array>
	<key>线上服务</key>
	<array>
		<string>陪唱歌</string>
		<string>陪吃饭</string>
		<string>陪看电影</string>
		<string>跑腿</string>
		<string>送外卖</string>
	</array>
	<key>市场</key>
	<array>
		<string>微信聊天</string>
		<string>网络咨询</string>
		<string>语音聊天</string>
		<string>视频聊天</string>
		<string>电话唤醒</string>
	</array>
</dict>
</plist>
